{% extends 'base.html' %}
{% block title %}  Акции {% endblock %}


{% block content %}
{% load main_tags %}
{% get_AkciiCategories as AkciiCategories%}
<div class="container">
    
				<h1 class="page-title">Акции</h1>


<!-- 	    <div class="container px-4 py-5" id="hanging-icons">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" id="news_search">
        <template id="tmpl">
            <div class="col-md-3">
                <div class="card">
                    <img src="/media/news_image/1-1024x768.jpg" class="img-fluid  size-image" data-toggle="modal" data-target="#galleryModal">
                    <div class="card-caption card-body">
                    <p class="card-text"></p>
                    <h5 class="card-title">«Аграрная неделя Орловской области – 2023»</h5>
                    <a  class="btn btn-danger">Читать</a>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div> -->
	    
<div class="container px-4 py-5" id="hanging-icons">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" id="news_search">
	{% for i in AkciiCategories %}
		<div class="col-md-3">
			<div class="card">
				<img src="{{ i.image.url }}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{ i.title }}</h5>
                                	<a href="{{ i.get_absolute_url }}"  class="btn btn-danger">Посмотреть</a>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
	</div>
</div>
{% endblock %}
