{% extends 'base.html' %}
{% block title %}  {{ object.title }} {% endblock %}


{% block content %}
{% load main_tags %}
{% get_Akcii category_id=object as akcies %}

<div class="container">
   
				<h1 class="page-title">Акции "{{ object.title }}"</h1>
		 <div class="row mb-3">
				{% for akci in akcies %}<br>

												<div class="card" style="width: 18rem;">
						  <img src="{{ akci.image.url }}" class="card-img-top" alt="...">
						  <div class="card-body">
						   		<h5 class="card-title">{{ akci.title }}</h5>
                                <a href="{{ akci.get_absolute_url }}"  class="btn btn-danger">Посмотреть</a>
						  </div>
						</div>
				{% endfor %}
			 </div>
	
</div>
{% endblock %}