{% extends 'base.html' %}
{% block title %}  Акции {% endblock %}


{% block content %}

<h3 class="pb-3 mb-12  font-italic border-bottom text-center text-shadow">ГАЛЕРЕЯ</h3>

<div class="container">
  <!-- Миниатюры -->
  <div class="row">
    {% for albom in alboms %}
    <div class="col-md-3">
      <a href="{{ albom.slug }}">
        <div class="card">

        <img src="{{ albom.picture.url }}" class="img-fluid" data-toggle="modal" data-target="#galleryModal">
        <div class="card-caption card-body">
          <h5 class="card-title">
            {{ albom.name }}
          </h5>

        </div>

      </div>
          </a>
    </div>
    {% endfor %}

    </div>
    <!-- Добавьте больше миниатюр здесь !-->
  </div>
<div class="container">

 <!-- Модальное окно с увеличенными изображениями -->
  <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div id="carouselExample" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <!-- Изображения для карусели -->
            {% for photo in photoes %}
               {% if forloop.first %}
        <div class="carousel-item active">
      {% else %}
        <div class="carousel-item">
      {% endif %}
              <img src="{{ photo.picture.url }}" class="d-block w-100" alt="Large Image 1">
            </div>
            {% endfor %}

            </div>

            <!-- Добавьте больше увеличенных изображений здесь -->
          </div>
          <!-- Навигация -->
          <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущее</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Далее</span>
          </a>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}