{% extends 'base.html' %}
{% block title %}  {{ category.name }} {% endblock %}
{% load main_tags %}

{% block content %}
<div class="container">
    <br>
     {% get_machine catgories_id=category as machinies %}
    {% for group in  machinies %}
    <div class="row mb-3">
        {% for machine in group %}
            <div class="col-md-4">
                <div class="card">

                    <img src="{{ machine.main_image.url }}" class="img-fluid  size-image">
                      <div class="card-caption card-body">


                          <h5 class="card-title">{{ machine.name }}</h5>
                                <a href="{{ machine.get_absolute_url }}"  class="btn btn-danger">Посмотреть технику</a>
                      </div>

                </div>
            </div>
        {% endfor %}
         <br>
    </div>
    {% endfor %}

    {% for child in  child_categories %}

    <h2 class="categories">{{ child }}</h2>

    {% get_child_categories category_id=child as child_get_child_categories2 %}

    <div class="row mb-3">

{% for child2 in child_get_child_categories2 %}
         <div class="col-md-4 h-25">

                <div class="card ">

                    <img src="{{ child2.icon.url }}" class="img-fluid  size-image">
                      <div class="card-caption card-body">

                                        <h5 class="card-title">{{ child2.name }}</h5>
                <p class="row align-items-left lead">{{child2.describe|safe|linebreaks|truncatechars:350}}</p>
                          <a href="{{ child2.get_absolute_url }}"  class="btn btn-danger">Посмотреть технику</a>
                      </div>

                </div>

            </div>
         {% endfor %}
    </div>

    {% get_machine catgories_id=child as machinies %}
    {% for group in  machinies %}
<br>
    <div class="row mb-3">
        {% for machine in group %}
            <div class="col-md-4">
                <div class="card">

                    <img src="{{ machine.main_image.url }}" class="img-fluid  size-image">
                      <div class="card-caption card-body">

                          <h5 class="card-title">{{ machine.name }}</h5>
                                <a href="{{ machine.get_absolute_url }}"  class="btn btn-danger">Посмотреть технику</a>

                      </div>

                </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}

    {% endfor %}


</div>
{% endblock %}