{% extends 'base.html' %}
{% load main_tags %}
{% block title %}
АГРО БИЗНЕС АЛЬЯНС
{% endblock %}
{% block description %}большой ассортимент сельскохозяйственной техники и оборудования отечественного и импортного производства; осуществление предпродажной подготовки, доставки и запуска техники в эксплуатацию; гарантийное и постгарантийное обслуживание как в полевых условиях, так и в собственных мастерских; оперативный выезд сервисных бригад в хозяйства для оказания услуг по ремонту и обслуживанию техники на специально оборудованных автомобилях; постоянно пополняемый склад запасных...{% endblock %}

{% block content %}
{% get_ourpartners as ourpartners %}
{% get_news as grouped_posts %}
{% get_alboms as alboms_groups %}
{% get_important_info as important_infos %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
{% get_banner_akcii as banner_akciies %}

        {% for banner_akcii in banner_akciies  %}

        {% if forloop.first %}
        <div class="carousel-item active" data-bs-interval="5000">
        {% else %}
        <div class="carousel-item" data-bs-interval="5000">
        {% endif %}
          <a href="{{ banner_akcii.href }}"><img src="{{ banner_akcii.image.url }}" class="d-block w-100"></a>
          <div class="d-md-block text-box baner-signature">
            <h3>{{ banner_akcii.title }}</h3>
            <p>{{ banner_akcii.short_description }}</p>
          </div>
        </div>
        {% endfor %}







    </div>

<div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
          </button>
    </div>
  </div>

  <div class="col-md-12 blog-main">
<h3 id="our_partners_title" class="pb-3 mb-12  font-italic border-bottom text-center text-shadow" style="margin-top: revert;">НАШИ VIP-ПАРТНЕРЫ</h3>


<div id="our_partners" class="carousel slide" data-ride="carousel">
  <div class="container">
  <div class="carousel-inner">
      {% for group in ourpartners %}
      {% if forloop.first %}
        <div class="carousel-item active">
      {% else %}
        <div class=" carousel-item">
      {% endif %}

      <div class="row boxcontainer">
        {% for partner in group %}
            <a class="col image-container our-partners box" target="_blank"  href="{{ partner.href }}">

                  <img class="img-fluid card-img-top box" src="{{ partner.image.url }}"/>

            </a>
      {% endfor %}
    </div>
    </div>
      {% endfor %}




  </div>
</div>
        </div>
      </div>
</div>

{% if ourpartners|length > 1  %}
<div class="text-center mt-3">
  <button class="btn btn-danger" onclick="prevSlide('#our_partners')"> < </button>
  <button class="btn btn-danger" onclick="nextSlide('#our_partners')"> > </button>
</div>
{% endif %}

<h3 id="important_information_title" class="pb-3 mb-12  font-italic border-bottom text-center text-shadow" style="margin-top: revert;">
  ВАЖНАЯ ИНФОРМАЦИЯ
</h3>
<div class="container">
<div id="important_information" class="carousel slide" data-interval="false" data-ride="carousel">
  <div class="container">
    <div class="carousel-inner">

      {% for group in important_infos %}
      {% if forloop.first %}
        <div class="carousel-item active">
      {% else %}
        <div class="carousel-item">
      {% endif %}

      <div class="row">
        {% for post in group %}
          <div class="col-md-3">

                  <div class="card">
<a href="{{ post.get_absolute_url }}" class="link-dark link-offset-2 link-underline link-underline-opacity-0">

                        <img  src="{{ post.image.url }}" class="img-fluid size-image" data-toggle="modal" data-target="#galleryModal">
                                    <div class="card-caption card-body">
                                        <p class="card-text">{{ post.created_at }}</p>
                                        <h5 class="card-title" onmouseover="get_full_text(this)" onmouseout="get_short_text(this)">
                                            <short> {{ post.title|safe|truncatechars:70 }}</short>
                                            <full hidden> {{ post.title }} </full>
                                        </h5>

<!--                        <a href="{{ post.get_absolute_url }}" class="btn btn-danger">Читат-->
                    </div>
                  </a>
                  </div>

        </div>
      {% endfor %}
    </div>
    </div>
      {% endfor %}




    </div>

  </div>

    </div>

<div class="text-center mt-3">
  <button class="btn btn-danger" onclick="prevSlide('#important_information')"> < </button>
  <button class="btn btn-danger" onclick="nextSlide('#important_information')"> > </button>
</div>






<h3 id="news_title" class="pb-3 mb-12  font-italic border-bottom text-center text-shadow" style="margin-top: revert;">
  НОВОСТИ КОМПАНИИ
</h3>

<div class="container">
<div id="news" class="carousel slide" data-interval="false" data-ride="carousel">
  <div class="container">
    <div class="carousel-inner">

      {% for group in grouped_posts %}
      {% if forloop.first %}
        <div class="carousel-item active">
      {% else %}
        <div class="carousel-item">
      {% endif %}
      
      <div class="row">
        {% for post in group %}
          <div class="col-md-3">

                  <div class="card">
                      <a href="{{ post.get_absolute_url }}" class=" link-dark link-offset-2 link-underline link-underline-opacity-0">
    <img src="{{ post.image.url }}" class="img-fluid  size-image" data-toggle="modal" data-target="#galleryModal">
    <div class="card-caption card-body">
        <p class="card-text">{{ post.created_at }}</p>
        <h5 class="card-title" onmouseover="get_full_text(this)" onmouseout="get_short_text(this)">
            <short> {{ post.title|safe|truncatechars:70 }}</short>
            <full hidden> {{ post.title }} </full>
        </h5>

   </a> </div>
</div>



        </div>
      {% endfor %}
    </div>
    </div>
      {% endfor %}



              
    </div>

  </div>

    </div>

<div class="text-center mt-3">
  <button class="btn btn-danger" onclick="prevSlide('#news')"> < </button>
  <button class="btn btn-danger" onclick="nextSlide('#news')"> > </button>
</div>














<h3 id="galery_id" class="pb-3 mb-12  font-italic border-bottom text-center text-shadow" style="margin-top: revert;">ГАЛЕРЕЯ</h3>

<div class="container">

    <div id="albom" class="carousel slide" data-interval="false" data-ride="carousel">
        <div class="container">
            <div class="carousel-inner">

                {% for group in alboms_groups %}
                    {% if forloop.first %}
                        <div class="carousel-item active">
                    {% else %}
                         <div class="carousel-item">
                    {% endif %}
                             <div class="row">
                             {% for albom in group %}
                                    <div class="col-md-3">
                              <a class="link-offset-2 link-underline link-underline-opacity-0" href="{{ albom.get_absolute_url }}">
                                <div class="card">
                                    <img src="{{ albom.picture.url }}" class="img-fluid size-image" data-toggle="modal" data-target="#galleryModal">
                                    <div class="card-caption card-body" >
                                        <h5 class="card-title" onmouseover="get_full_text(this)" onmouseout="get_short_text(this)">
                                            <short> {{ albom.name|safe|truncatechars:70 }}</short>
                                            <full hidden> {{ albom.name }} </full>
</h5>
                                    </div>
                                </div>
                              </a>
                            </div>
                             {% endfor %}
 </div>
                         </div>
                {% endfor %}
                </div>

        </div>
    </div>



  <!-- Миниатюры -->

    <!-- Добавьте больше миниатюр здесь !-->
  </div>
<div class="text-center mt-3">
  <button class="btn btn-danger" onclick="prevSlide('#albom')"> < </button>
  <button class="btn btn-danger" onclick="nextSlide('#albom')"> > </button>
</div>



  </div>





{% endblock %}
