{% extends 'base.html' %}
{% block title %}  {{ content.title }} {% endblock %}


{% block content %}
<div class="container">
    <h1 class="mb-0 font-italic">
               {{ post.title }}
              </h1>


        {% autoescape off %}
    {{ content.content }}



        {% endautoescape %}



</div>



<script>console.log('test');

    async function put_in_sandbox(){
        console.log('test');
        var iframe_list = document.getElementsByTagName('iframe');
        for(var i=0; i<iframe_list.length; i++){
            iframe_list[i].sandbox = 'allow-same-origin || allow-top-navigation || allow-forms || allow-scripts';
            console.log(iframe_list[i]);
        }
    }
    
    
    put_in_sandbox();
        </script>
{% endblock %}