{% extends 'base.html' %}
{% block title %}  Сервис и ремонт {% endblock %}


{% block content %}
<div class="container">
<td width="690">
						<h1>Сервис</h1><div id="a4">
						<h1><span style="color: #ff0000;">Внимание! Вакансия!</span></h1>
<p style="text-align: justify;"><strong><em><span style="color: #0000ff;">Требуются сервисные инженеры по обслуживанию тракторов, комбайнов и прицепной сельскохозяйственной техники. По вопросам собеседования обращайтесь к&nbsp;руководителю сервисной службы по тел. +7 900 484 02 15. </span></em></strong></p>
<h1 style="text-align: justify;"><a href="https://apkaba.ru/?p=5738"><span style="color: #ff0000;">НАШИ&nbsp;ВАКАНСИИ</span></a></h1>
<hr>
<p>&nbsp;</p>
<h1><a href="https://apkaba.ru/?p=2806"><span style="color: #ff0000;">РЕМОНТ&nbsp;КПП ТРАКТОРОВ «КИРОВЕЦ»</span></a></h1>
<h1><a href="https://apkaba.ru/remont-s-vyezdom-k-zakazchiku"><span style="color: #ff0000;">РЕМОНТ С ВЫЕЗДОМ К ЗАКАЗЧИКУ</span></a></h1>
<p style="text-align: justify;">Вся современная&nbsp; техника поставляемая на сегодняшний рынок, комплектуется сложными узлами и агрегатами обслуживание и ремонт которой требует наличия специализированного диагностического и технологического оборудования, а также высококвалифицированных специалистов которые получили сертифицированное обучение на заводах-изготовителях и имеют право обслуживать и ремонтировать данную технику.</p>
<p style="text-align: justify;"><strong>ООО «Аграрная Промышленная Компания «АГРО&nbsp;БИЗНЕС АЛЬЯНС» имеет все необходимые условия для гарантийного и послегарантийного обслуживания техники.</strong></p>
<p style="text-align: justify;">Специалисты сервисной службы на специально оборудованных автомобилях осуществляют выезд в хозяйства для проведения планового технического обслуживания, а также устранение возникающих мелких неисправностей. Для сложного ремонта с/х техники узлов и агрегатов имеется мастерская, оборудованная грузоподъемным, станочным и технологическим оборудованием, которая позволяет потребителям наших услуг производить подготовку техники в зимние месяцы, что является актуальным, так как большинство сельхозпроизводителей не имеют такой возможности&nbsp; из-за отсутствия необходимых условий.</p>
<p style="text-align: justify;">Специалисты сервисной службы принимают активное участие в подготовке инженеров и механизаторов агропромышленного комплекса, для этого нами оборудован учебный класс в ФГБОУ ВО Орловский ГАУ.</p>
<h2 style="text-align: justify;"><a href="https://apkaba.ru/?p=6846"><span style="color: #0000ff;"><span style="color: #0000ff;">Сервисная служба</span></span></a></h2>
<h2><a href="https://apkaba.ru/?p=6862"><span style="color: #0000ff;">Техника сервисной службы</span></a></h2>
<h2><a href="https://apkaba.ru/?p=6855"><span style="color: #0000ff;">Сертификаты и дипломы</span></a></h2>
<h2><a href="https://apkaba.ru/?p=6858"><span style="color: #0000ff;">Обучение</span></a></h2>
<h2><a href="https://apkaba.ru/?p=6873"><span style="color: #0000ff;">Выездной ремонт</span></a></h2>
<h2><a href="https://apkaba.ru/?p=6868"><span style="color: #0000ff;">Цех ремонта КПП</span></a></h2>
<p>&nbsp;</p>
<p style="text-align: center;"><i><strong>Мы дорожим своей репутацией и ценим&nbsp;каждого клиента.</strong></i></p>
<p style="text-align: center;"><a href="https://apkaba.ru/wp-content/uploads/2015/04/Благодарственное-письмо.jpg"><img class="alignleft wp-image-2172" src="https://apkaba.ru/wp-content/uploads/2015/04/Благодарственное-письмо.jpg" alt="Благодарственное письмо" width="630" height="890"></a></p>
<p style="text-align: center;"><i><strong>Качество, оперативность и надежность — главные принципы&nbsp;работы нашей компании!</strong></i></p>
																	</div><!-- .entry-content -->
</td>
</div>
{% endblock %}