{% extends 'base.html' %}
{% block title %}  Запчасти {% endblock %}


{% block content %}
<div class="container">
<td width="690">
						<h1>Запчасти</h1><div id="a4">
						<h2><span style="color: #ff0000;"><strong>Уважаемые партнеры!</strong></span></h2>
<p style="text-align: justify;">Обращаем Ваше внимание на&nbsp;большой ассортимент оригинальных&nbsp; запасных частей на сельскохозяйственную технику различного назначения отечественных и импортных производителей.</p>
<p style="text-align: justify;">Наша компания осуществляет прямые поставки деталей и узлов с заводов изготовителей. Поэтому у нас вы сможете приобрести товар по оптимальным ценам и в кратчайший срок.</p>
<p style="text-align: justify;"><strong>ООО «АПК «АГРО БИЗНЕС АЛЬЯНС»</strong> обладает следующими преимуществами по сравнению с аналогичными компаниями:</p>
<ul style="list-style-type: disc;">
<li style="text-align: justify;">гибкая система скидок;</li>
<li style="text-align: justify;">бесплатная доставка товара в радиусе 150 км;</li>
<li style="text-align: justify;">низкая стоимость товара за счет конкурентоспособных цен;</li>
<li style="text-align: justify;">техническое сопровождение поставки, предоставление гарантии, сервис;</li>
<li style="text-align: justify;">осуществление резервирования товара и отгрузка его с удобно расположенного склада.</li>
</ul>
<hr>
<h1 style="text-align: center;">&nbsp;<span style="color: #ff0000;">Продолжаем</span>&nbsp;<span style="color: #ff0000;">деффектовки!</span></h1>
<p style="text-align: justify;">Условия заказа и поставки запасных частей:</p>
<ol>
<li style="text-align: justify;"><a href="https://cloud.mail.ru/public/cwxB/qYoKZdeN1">Для оформления заказа просим скачать и заполнить форму <span style="color: #ff0000;">заявки</span></a>;</li>
<li style="text-align: justify;">Для выполнения заявки необходимо произвести предоплату 10% стоимости заказываемых запасных частей. Оставшаяся сумма оплачивается после поступления запасных частей на склад компании.</li>
</ol>
<p style="text-align: justify;"><span style="color: #0000ff;"><strong><em>Весь ассортимент&nbsp;запасных частей к комбайнам «Полесье» в наличии на складе.</em></strong></span></p>
<hr>
<ol>
<li><span style="color: #ff0000;"><strong>З/Ч для самоходной техники:</strong></span>
<ol>
<li><a href="https://apkaba.ru/?p=1021">ПТЗ</a></li>
<li><a href="https://apkaba.ru/?p=5427">ремни для комбайнов</a></li>
<li><a href="https://apkaba.ru/?p=5488">Гомсельмаш</a></li>
</ol>
</li>
<li><span style="color: #ff0000;"><strong>З/Ч для почвообрабатывающих машин</strong></span>
<ol>
<li><a href="https://apkaba.ru/?p=1922">ПК «Ярославич»</a></li>
<li><a href="https://apkaba.ru/?p=1137">АЛМАЗ</a></li>
</ol>
</li>
</ol>
<p>&nbsp;</p>
<h4 style="text-align: justify;">Для заказа интересующих Вас запасных частей просим Вас скачать и заполнить форму заявки:</h4>
<ul style="list-style-type: disc;">
<li style="text-align: justify;">для комбайнов — <a href="https://cloud.mail.ru/public/cwxB/qYoKZdeN1">скачать</a></li>
<li style="text-align: justify;">для тракторов — <a href="https://cloud.mail.ru/public/UrcV/i5821FZE9">скачать</a></li>
</ul>
<h4 style="text-align: justify;">и выслать её на&nbsp;e-mail:</h4>
<h4 style="text-align: justify;">- для тракторов — apk.aba5@mail.ru либо связаться с начальником отдела запасных частей Моисеевым Александром по <strong>тел.</strong>+7 900 484 48 94;</h4>
<h4>- для комбайнов — aba-orel12@mail.ru либо связаться с менеджером отдела продаж Родиным Андреем по тел. +7 996 161 32 44.</h4>
<h4></h4>
																	</div><!-- .entry-content -->
</td>


</div>
{% endblock %}