#record {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 99999;
    animation: glowing 1300ms infinite;
  }

  .button {

    width: 100%;
}
  #cssmenu2 {
    background: #333;
    border-bottom: 4px solid #ff1b1b;
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
    font-size: 11px;
  }
   #cssmenu2 {padding: 0; margin: 0; border: 0; width:100%}
  #cssmenu2 ul, #cssmenu2 li {list-style: none; margin: 0; padding: 0;}
  #cssmenu2 ul {position: relative; z-index: 597; }
  #cssmenu2 ul li { float: left; min-height: 1px; vertical-align: middle;}
  #cssmenu2 ul li.hover,
  #cssmenu2 ul li:hover {position: relative; z-index: 599; cursor: default;}

  #cssmenu2 ul ul {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598}
  #cssmenu2 ul ul li {float: none;}
  #cssmenu2 ul ul ul {top: 0; left: auto; right: -99.5%; }
  #cssmenu2 ul li:hover > ul { visibility: visible;}
  #cssmenu2 ul ul {bottom: 0; left: 0;}
  #cssmenu2 ul ul {margin-top: 0; }
  #cssmenu2 ul ul li {font-weight: normal;}
  #cssmenu2 a { display: block; line-height: 1em; text-decoration: none; }
  #cssmenu2 > ul { *display: inline-block; }

  #cssmenu2:after, #cssmenu2 ul:after {
    content: '';
    display: block;
    clear: both;
}

#cssmenu2 a {

    color: #CBCBCB;
    padding: 0 20px;
}
#cssmenu2 ul { text-transform: uppercase; }

    #cssmenu2 ul ul {
      border-top: 4px solid #ff1b1b;
      text-transform: none;
      min-width: 190px;
}
      #cssmenu2 ul ul a {
        background: #ff1b1b;
        color: #FFF;
        border: 1px solid #e700007d;
        border-top: 0 none;
        line-height: 150%;
        padding: 16px 20px;
}
      #cssmenu2 ul ul ul { border-top: 0 none; }

      #cssmenu2 ul ul li { position: relative }

#cssmenu2 > ul > li > a
{
    line-height: 48px;
    font-family: 'Republica Minor';
}

#cssmenu2 ul ul li:first-child > a { border-top: 1px solid #e700007d; }
        #cssmenu2 ul ul li:hover > a { background: #a40606; }

        #cssmenu2 ul ul li:last-child > a {
          border-radius: 0 0 3px 3px;
          box-shadow: 0 1px 0 #ff1b1b;
}
        #cssmenu2 ul ul li:last-child:hover > a { border-radius: 0 0 0 3px; }

        #cssmenu2 ul ul li.has-sub > a:after {
          content: '+';
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -8px;
}

 #cssmenu2 ul li:hover > a, #cssmenu2 ul li.active > a {
      background: #ff1b1b;
      color: #FFF;
}
    #cssmenu2 ul li.has-sub > a:after {
      content: '+';
      margin-left: 5px;
}
    #cssmenu2 ul li.last ul {
      left: auto;
      right: 0;
}
      #cssmenu2 ul li.last ul ul {
        left: auto;
        right: 99.5%;
}

.wrapper{margin:10vh}


.card{
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
 overflow:hidden;
 border-radius:20px;
 min-height:450px;
   box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);

 @media (max-width: 768px) {
  min-height:350px;
}

@media (max-width: 420px) {
  min-height:300px;
}

 &.card-has-bg{
 transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size:120%;
  background-repeat:no-repeat;
  background-position: center center;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-filter: grayscale(1);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);}

  &:hover {
    transform: scale(0.98);
     box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
    background-size:130%;
     transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

    .card-img-overlay {
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
      background: rgb(35,79,109);
     background: linear-gradient(0deg, rgba(4,69,114,0.5) 0%, rgba(4,69,114,1) 100%);
     }
  }
}
 .card-footer{
  background: none;
   border-top: none;
    .media{
     img{
       border:solid 3px rgba(255,255,255,0.3);
     }
   }
 }
 .card-meta{color:#26BD75}
 .card-body{
   transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
 &:hover {
   .card-body{
     margin-top:30px;
     transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
   }
 cursor: pointer;
 transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
 .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
 background: rgb(35,79,109);
background: linear-gradient(0deg, rgba(35,79,109,0.3785889355742297) 0%, rgba(69,95,113,1) 100%);
}
}
@media (max-width: 767px){

}






