{% load static %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

   <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
   <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

<link rel="shortcut icon" type="image/x-icon" href="{% static 'image/main_logo.png' %}" />


<link rel="stylesheet" href="{% static 'css/main.css' %}">
      <link rel="stylesheet" href="{% static 'css/main2.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="{% static 'css/aplication.css' %}" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
  </head>
<body>
<br>

 <style>
 .image-container {
  position: relative;
  overflow: hidden;
}

/* Создаем эффект увеличения при наведении курсора на изображение */
.image-container img {
  transition: transform 0.3s ease; /* Добавляем плавный переход */
}

.image-container:hover img {
  transform: scale(1.2); /* Изменяем масштаб изображения при наведении */
}
    body {
      min-height: 2000px;
    }



    .btn-up::before {
      content: "";
      width: 40px;
      height: 40px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
    }

    .btn-up_hide {
      display: none;
    }

    @media (hover: hover) and (pointer: fine) {
      .btn-up:hover {
        background-color: #dc3545;
      }
    }
  </style>
<div class="btn-up btn-up_hide btn-danger"></div>

 <script>
    const btnUp = {
      el: document.querySelector('.btn-up'),
      show() {
        // удалим у кнопки класс btn-up_hide
        this.el.classList.remove('btn-up_hide');
      },
      hide() {
        // добавим к кнопке класс btn-up_hide
        this.el.classList.add('btn-up_hide');
      },
      addEventListener() {
        // при прокрутке содержимого страницы
        window.addEventListener('scroll', () => {
          // определяем величину прокрутки
          const scrollY = window.scrollY || document.documentElement.scrollTop;
          // если страница прокручена больше чем на 400px, то делаем кнопку видимой, иначе скрываем
          scrollY > 400 ? this.show() : this.hide();
        });
        // при нажатии на кнопку .btn-up
        document.querySelector('.btn-up').onclick = () => {
          // переместим в начало страницы
          window.scrollTo({
            top: 0,
            left: 0,
            behavior: 'smooth'
          });
        }
      }
    }
    btnUp.addEventListener();
  </script>


<div class=" container">
    <div class="row ">   
      <div class="col-md-2 ">
        <div class=" container d-flex justify-content-center">
        <img id="logo_image" class="" src="{% static 'image/main_logo.png' %}"    width="80%" height="80%">
      </div>
      </div>
        <div class="col-md-6">
        <figure >
          <blockquote  class="blockquote">
            <div class=" container d-flex justify-content-center">
            <h2 id="title">АПК "АГРО БИЗНЕС АЛЬЯНС"</h2>
          </div>
          </blockquote>
          <figcaption class="container d-flex justify-content-center" >
            <h5 id="slogan">Успех выбирает профессионалов</h5>
          </figcaption>
        </figure>

      </div>





      <div class="col-md-4  justify-content-end align-items-center">

          <div align="center">
              <b>+7(4862) 72-20-94</b>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><span class="">Обратный звонок</span></button>
              <div class="modal fade" id="myModal">
               <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Заказать обратный звонок</h4>
                  </div>
                  <div class="modal-body">
                    {% get_callback_form as form %}

                      <form action="" method="post">
                        {% csrf_token %}
                      {{ form.as_p }}

                      <div class="form-group mt-3">
                        <button type="submit" class="btn btn-danger">Отправить</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>



<nav class="navbar navbar-expand-xl navbar-dark" id="cssmenu2" >

 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cssmenu" aria-controls="cssmenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

       <div class="collapse navbar-collapse" id="cssmenu">
        <ul class="navbar-nav">
             <li class='active'><a href="{% url 'index' %}">Главная</a></li>
             <li><a href="{% url 'index' %}#news_title">Новости</a></li>
             <li><a href="#machine" onclick="show_form()">Техника</a></li>

             <li><a href="{% url 'akcii' %}">Акции</a></li>
            {% get_contentpagies_on_board as contentpagies_on_board %}
            {% for contentpage in  contentpagies_on_board %}
                 {% if contentpage.href == null %}

            <li><a href="{{ contentpage.get_absolute_url }}">{{ contentpage.title }}</a></li>
                            {% else %}

             <li><a href="{{ contentpage.href }}" onclick="show_form()">{{ contentpage.title }}</a></li>
                            {% endif %}
            {% endfor %}
             <li><a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О компании</a>
                    <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                        {% get_contentpagies as contentpagies %}
                        {% for contentpage in contentpagies %}
                            {% if contentpage.href == null %}
                            <a class="dropdown-item ptpt"  href="/{{ contentpage.get_absolute_url }}">{{ contentpage.title }}</a>
                            {% else %}
                            <a class="dropdown-item ptpt"  href="/{{ contentpage.href }}">{{ contentpage.title }}</a>
                            {% endif %}
                        {% endfor %}
                            <a class="dropdown-item ptpt"  href="/{% url 'index' %}#galery_id">Галерея</a>

                    </div>
             </li>

             <li><a href="https://www.youtube.com/@kirovetsPTZ"><img  src="{% static '/image/images.png' %}" alt="Ссылка на канал в youtube" height="25px"></a></li>
             <li><a href="https://www.youtube.com/@kirovetsPTZ"><img  src="{% static '/image/icon_odnoklassniki.png' %}" alt="Ссылка на канал в youtube" height="25px"></a></li>
             <li><a href="https://www.youtube.com/@kirovetsPTZ"><img  src="{% static '/image/vk_icon.png' %}" alt="Ссылка на канал в youtube" height="25px"></a></li>
             <li><a href="#nsearch" onclick="show_form_search()"><img src="{% static '/image/search.png' %}"  alt="Поиск"   height="40px"></a></li>
          </ul>
           <div>
</nav>
<div id="search" >
    <div class=" d-flex justify-content-end align-items-center">
        <form class="d-flex w-100 p-3"  action="{% url 'search_result' %}">
         
          <input class="form-control me-3" type="text" name="search_field" placeholder="Поиск" value="{{ request.GET.search_field }}">
          <button type="submit" class="btn btn-outline-danger"> Поиск</button>
        
        </form>
      </div>
</div>


<div id="machine">
<h3 class="pb-3 mb-12  font-italic border-bottom text-center text-shadow" >
  КАТАЛОГ ТЕХНИКИ
</h3>




{% get_categories as categories %}
<div class="container">
<div class="row">
  {% for categori in categories %}
    <div class="col-4">

      <ul class="list-group ">
        {% for object in categori %}

        <li class="list-group-item border-0"><a class="link-danger link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ object.get_absolute_url }}"><img class="catalog-icons"  src="{{ object.icon.url }}" height="25px">{{ object.name }}</a></li>

        {% endfor %}


    </ul>

  </div>
    {% endfor %}

</div>
</div>
</div>




{% block content %}
{% endblock %}




   <footer class="container py-5 wrapper">
     <div class="row">
       <div class="col-12 col-md">
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
         <small class="d-block mb-3 text-muted">© 2017-2018</small>
       </div>

       <div class="col-12 col-md">
         <h5>About</h5>
         <ul class="list-unstyled text-small">
           <li><a class="text-muted" href="#">Team</a></li>
           <li><a class="text-muted" href="#">Locations</a></li>
           <li><a class="text-muted" href="#">Privacy</a></li>
           <li><a class="text-muted" href="#">Terms</a></li>
         </ul>
       </div>
     </div>
   </footer>
  </body>
<script>
    addEventListener("load", (event) => {
  var images = document.getElementsByTagName('img');
   for(var i = 0; i < images.length; i++) {
    
    if(images[i].width=="650px"){

    images[i].style= "";
    images[i].width="100%";
    }
}
});
</script>
</html>
